// {
//     "presets": [
//         "@babel/preset-env",
//         ["@babel/preset-react", {"runtime": "automatic"}],
//         "@babel/preset-typescript"
//         // [
//         //     "@rnx-kit/babel-preset-metro-react-native",
//         //     {
//         //         "additionalPlugins": ["const-enum"],
//         //     },
//         // ],
//     ],
//         "plugins": [
//             [
//                 "@babel/plugin-transform-runtime",
//                 {
//                     "regenerator": true
//                 }
//             ],
//             "@babel/plugin-syntax-dynamic-import",
//             "@babel/plugin-proposal-class-properties"
//         ]
// }