@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@800&display=swap');
body{
    // background-color: #212534;
    // background-color: black;
    background-color: rgb(41, 37, 37);
}


* {
    box-sizing: border-box;
    margin: 0;
}

.slide-base{
    display: flex;
    flex-direction: column;
}

.containerSub {
    display: flex;
    width: 100%;
    height:  100%;
    flex-direction: column;
    // padding: 1em;
    margin: 0;
    // border: 1px solid black;
    box-shadow: rgba(217, 10, 236, 0.5) 0px 20px 25px -5px, rgba(217, 10, 236, 0.5) 0px 20px 20px -5px;}

.containerSub .line{
    position: relative;
    margin: 12px 0px;
    width: calc(100% - 2px);
    transition: width 2s ;
    display: block;
    
}

.containerSub .line::before,
.containerSub .line::after{
    position: absolute;
    display: block;
    content: "";
    width: 15%;
    height: 3px;
    background-color: #212534;
    transition: width 2s;
}


.containerSub .line::after{
    left: 50%;
}

.containerSub .line::before{
   right: 50%;
}

.product-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover
}

.containerSub:hover .book-detail-item {
    transform: translateX(0);
    opacity: 1;
}

.containerSub:hover .line::after{
    width: 50%;
}

.containerSub:hover .line::before{
    width: 50%;
}


.product-description {
    display: flex;
    flex-direction: column;
    // font-size: 1.2rem;
    text-align: center;
    font-family: 'Bebas Neue','cursive';
    padding: 1em 1em;
}

.product-description h2{
    color: #Dc1d4d;
    padding: 0.5em;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: block;
    height: 3em;
    // line-height: 2em;


}
.product-description p {
    font-size: 0.9rem;
}

.product-description span{
    color: #Dc1d4d;
}





// .slide_up {}



.book-detail-item {
    // padding-top:2em;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    padding: 1vw 1vw;
    text-align: left;
    opacity: 0;
    transition: all .8s;
    z-index: 90;
    background-color: rgba(51, 52, 52, 0.8);
    flex-direction: column;
}

.book-detail-item * {
    color: white;
    text-align: center;
}

.book-detail-item h2{
    font-size: 1.2rem!important;
    color: #ffff;
    font-family: 'Prompt', sans-serif;
    height: 2em;
    text-shadow:  0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    margin-top: 1em;
}

.book-detail-item p{
    font-size: 1rem!important;
    color: #de4848;
    font-family: 'Prompt', sans-serif;
    display: block;
    height: 5vw;
    padding-top: 1em;
    font-size: 1rem;
    display: -webkit-box;
    max-width: inherit;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    // white-space: nowrap; 


}




.slide_right .book-detail-item {
    transform: translateX(100%);
}

.slide-base {
    background-color: white;
    position: relative;
}

.bookList{
    // height: 5vw;
    margin-top: 4em;
}

a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}